.content_page form .code-course h4{
    margin: 1.5rem 0 2rem;
    font-family: 'bold';
}
.content_page form .code-course label{
    font-family: 'medium';
    margin-bottom: .7rem;
    margin-top: 1rem;
}
.content_page form .code-course select{
font-family: 'regular';
margin-bottom: 2.5rem;
}

.content_page form .code-course input{
    font-family: 'regular';
}

.content_page form .ptn{
    width: 60%;
    margin: 2rem 0;
    border-radius: 10px;
    font-family: 'regular';
}
.content_page form .ptn:hover{
color: white;
} 

.content_page form .code-course .form-control{
    appearance: auto;
    padding-inline-start: 3%;
}

.content_page form  .code-course .select2{
    border-radius: 2px;
    padding-inline-start:0;
    background-color: rgba(0,0,0,0);
    color: var(--color-pargraph);
    font-family: "regular";
    border: 1px solid #9a9a9a;
    border-radius: 8px !important;
}


/* .content_page form .code-course .form-group .select2{
    border-radius: 2px;
    padding-inline-start:0;
    background-color: rgba(0,0,0,0);
    color: var(--color-pargraph);
    font-family: "regular";
    border: 1px solid #9a9a9a;
    border-radius: 8px !important;
} */

/* small laptop */
@media (max-width: 1500px) {}

/* tablet responsive */
@media (max-width: 992px) {}

/* Mobile responsive */
@media (max-width: 600px) {}