.content_page form .add-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content_page form .add-slider .btn{
    width: 200px;
    color: white;
    font-family: 'regular';
}
.content_page form .add-slider .btn:hover{
    background-color:#053B5C;
    transition: .9s;
}
.content_page form  h4 {
    font-family: 'regular';
    margin: 1.5rem 0 2rem;
}

.content_page form .form-group {
    position: relative;
}

.content_page form .form-group .search {
    position: absolute;
    top: 10px;
    right: 20px;
}

.content_page form .form-group input {
    padding-inline-start: 40px;
    margin: 1rem 0 1.5rem;
    font-family: 'light';
}
 .content_page form .form-group {
     /* color: #7E8DA0;   */
    color: #053B5C;
    font-family: 'regular';
} 

.content_page form table .text {
    padding: 2rem;
    padding: 1rem;
    width: 40%;
    text-align: start;
}
.content_page form .bor {
    border: 2px solid #e6e6e6;
    border-radius: 10px;
}
.content_page form table{
    margin-bottom: 2rem;
}
 .content_page form table thead td{
    background-color: #EDF5F9;
    height: 60px;
   
} 
.content_page form table td{
    text-align: center;
    padding-inline-start: 20px;
     font-family: 'regular'; 
     height: 55px;
}
.content_page .table-responsive .text-success{
    --bs-text-opacity: 1;
    color: black
}
.content_page form table td svg{
    color:#3D9635 ;
    padding-left: .5rem;
}
.page-link {
    /* padding: 0.375rem 0.75rem; */
    padding: 0.5rem;
}

.content_page .pagination_section .pagination{
    justify-content: end;
}

.content_page  .foot .page-item .page-link:hover{
    background-color: #053B5C;
   color: white;
   transition: .6s;
   transform: translatex(4px);
}


 @media (max-width: 600px) {

.content_page form  .foot{
       display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content_page form  .foot p{
    margin: 1rem;
    width: 100%;
}
.content_page form  .foot .col-8 {
    flex: 0 0 auto;
     width: 100%; 
     text-align: center;
}
.content_page form .add-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.content_page .pagination_section .pagination{
    justify-content: center;
}
} 




/* small laptop */
@media (max-width: 1500px) {}

/* tablet responsive */
@media (max-width: 992px) {}

/* Mobile responsive */
@media (max-width: 600px) {}