
.content_page form h4 {
    font-family: 'bold';
    margin: 1.5rem 0 2rem;
}
.content_page form .form-group label {
    margin: 0.8rem 0;
    font-family: 'regular';
}
.content_page form .form-group .input{
    font-family: 'regular';
}
.content_page form .form-group .select2{
    border-radius: 2px;
    padding-inline-start:0;
    background-color: rgba(0,0,0,0);
    color: var(--color-pargraph);
    font-family: "regular";
    border: 1px solid #9a9a9a;
    border-radius: 8px !important;
}
 .content_page form .save {
        width: 22%;
        margin: 2rem 0;
        border-radius: 10px;
        font-family: 'regular';
    }
    .content_page form .save:hover{
        background-color: #053B5C;
        color: white;
        transition: .5s;
        box-shadow: none;
    }

.bootstrap-select>.dropdown-toggle {
    background-color: rgba(0,0,0,0);
    border: unset;
    font-size: .8rem;
     padding: 0.85rem; 
   
}

.content_page form h6 {
    /* margin: 2rem 0 1rem; */
    font-family: 'medium';
}
.content_page form h5 {
margin-bottom: 1rem;
font-family: 'medium';
}
.input-group .data-text{
    font-family: 'medium';
}

.content_page .input-group {
    position: relative;
}
form .file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 185px;
}

.content_page .input-group .img-seting {
    position: absolute;
    left: 50%;
    padding: 1rem 0;
}
@media (max-width: 600px) {
    form .file-upload-wrapper {
        padding: 70px;
    }
}
 @media (max-width: 600px) {
    .content_page .input-group .img-seting {
        left: 35%;
        padding: 2.5rem 0;
    }
}  

.content_page form .account .form-group .icon-account{
    position: absolute;
    top: 59px;
    right: 0.5rem;
    color: #AEBBC3;
}
.content_page form .account .form-group .img-acount {
    position: absolute;
    top: 3.7rem;
    right: 0.5rem;
    color: #AEBBC3;
}
.content_page form .account .form-group {
    position: relative;
    margin-bottom: 1.5rem;
}
.content_page form .account .form-group input {
    border-radius: 2px;
    padding-inline-start: 2rem;
    appearance: auto;
}


/* sting notificon */
.content_page form .form-group {
    position: relative;
    margin: .5rem 0;
}
.content_page form .form-group .search {
    position: absolute;
    top: 10px;
    right: 25px;
}
.content_page form .form-group input {
     padding-inline-start: 10px; 
    margin-bottom: 1.5rem;
}
.content_page form table td {
    text-align: start;
    padding-inline-start: 20px;
}
.content_page form table .text {
    padding: 2rem;
    padding: 1rem;
    width: 40%;
    text-align: start;
}
img.table-img {
    width: 50px;
    height: 50px;
}


/* slider table */
.content_page form .add-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.content_page form .add-slider .btn{
    width: fit-content;
    color: white;
    font-family: 'regular';
}
.content_page form .add-slider .btn:hover{
    background-color:#053B5C;
    transition: .9s;
}



/* governrare */

.content_page form .add-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_page form .form-group .search {
    position: absolute;
    top: 10px;
    right: 20px;
}
.content_page form .form-group input {
    padding-inline-start: 40px;
    margin-bottom: 1.5rem;
}

.content_page form .form-group .control-search{
    padding-inline-start: 30px;
}

.content_page form .form-group input {
    padding-inline-start: 40px;
    margin: 0;
    padding: 11px 10px;
    /* margin: 1rem 0 1.5rem; */
    font-family: 'light';
}
.content_page form table thead td {
    background-color: #EDF5F9;
   
}
.content_page table tr .active{
    background-color: #3d96355c;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 35px;
    color: #3D9635;
}
.content_page table tr .block{
    background-color: #e31e1e91;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 35px;
    color: white;
}
.content_page table tr h5{
    background-color: #E31E25;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 35px;
    color: #fff;
}
/* background-color: red;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 35px;
    color: #fff; */


.content_page form table td {
    text-align: center;
    padding-inline-start: 20px;
    font-family: 'regular';
    /* height: 55px; */
    padding: 1.5rem 0;
}

.content_page form .form-group::placeholder{
    padding-inline-start: 40px;
}
.content_page form .pagination{
    display: flex;
    justify-content: end;
    margin: 0 -20px;
}
.form-control::placeholder {
    color: 
    rgba(126, 141, 160, 1) !important;
    padding: 0 !important;
  
  }
  textarea.form-control::placeholder {
    color: 
    rgba(126, 141, 160, 1) !important;
    padding: 0 !important;
  
  }

@media (max-width: 600px) {
    .content_page form .foot{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content_page form .foot p{
        padding: 20px 0; 
        text-align: center;
    }
    .content_page form .pagination{
        justify-content: center;
    }
}
@media (max-width: 600px) {
    .content_page form .add-slider{
        flex-direction: column; 
    }
    .content_page form .add-slider .btn {
    flex-direction: row;
    margin-bottom: 1rem;
    }
}



/* small laptop */
@media (max-width: 1500px) {}

/* tablet responsive */
@media (max-width: 992px) {}

/* Mobile responsive */
@media (max-width: 600px) {}

/* .form-control {

} */