* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* start answer */
.answer{
    display: flex;
}
.answer .answer-1{
    margin-top: 20px;
}
.answer .form-control{
margin-top: 7px;
}
.answer .cheek{
    margin-top: 21px;
        margin-right: 15px;
}
.answer .cheek-1{
    margin-top: 19px;
}
.answer .galary{
margin-top: 20px;
    margin-right: 13px
}
.answer .form-group{
    margin-top: 17px;
}
.input-group{
    padding-top: 30px;
}
/* end answer */
/* start table */


.tbody,
td,
tfoot,
th,
thead,
tr{
    padding: 1rem 0;
}

/* end table */
/* start text */
.text{
    padding: 30px;
}
.tabl{
    background-color: white;
}
/* end text */
.table_expenses tbody tr .button{
margin-top: 67px;
    width: 70px;
}
.tabl .cheek{
    margin-left: 10px;
}
.dropdown-toggle-1::after{
    display: none;

}
 .dropdown-item {
    text-align: start;
    font-size: 15px;
}
.modal-content {
    background-color: #fff !important;
}
/* model one */
.modal-body .parnt{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.modal-body .parnt img{
    width: 11%;
}
.modal-body .parnt h4{
    font-size: 13px;
    font-family:bold ;
}
.modal-body .parnt p{
    font-size: 9px;
    color: #5E6E77;
    font-family:"Regular" ;
}
.modal-body .parnt .botton .datels{
    border: 1px solid #06456B;
    color: #06456B;
    font-size: 10px;
    font-weight: 700;
    font-family:bold ;

}
.modal-body .parnt .botton .datels:hover{
    background-color: #06456B;
    color: white;
}
.modal-body .parnt .botton .blok{
    border:1px solid #E31E25;
    color: #E31E25;
    font-size: 10px;
    font-weight: 700;
    font-family:bold ;

}
.modal-body .parnt .botton .blok:hover{
    background-color: #E31E25;
    color: white;
}
.modal-body  .down{
    padding:10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px
}
.modal-body .down .kind h6{
    font-size: 10px;
    color: #5E6E77;
   
}
.modal-body .down .kind h4{
    font-size: 12px;
    font-family:"Regular" ;
}
.modal-body .down .kind a{
    color: #06456B;
    font-family:"bold" ;
    text-decoration: underline;
}
.modal-header h1{
    font-family:"bold" ;
}
/* model one */

   

/* model two */
.body-mod-1 h6 {
    font-size: 12px;
    width: 66%;
    color: #5E6E77;
    font-family: "Regular";
    line-height: 21px;

}
.text-mod-1{
    padding: 10px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-top: 14px

}
.text-mod-1 h5{
    font-size: 10px;
    margin-top: 5px;
    font-family: 'bold';
}

   
.text-mod-1 p{
    background-color: white;
    font-size: 8px;
    border-radius: 10px;
    padding: 5px;
    color: #06456B;
    font-family: 'regular';
}
.text-mod-1 i {
    padding-right: 10px;
}
.text-mod-1 a{
    font-size: 9px;
    text-decoration: underline;
    font-family: 'bold';
}
.modal-body .text-mod-2 .t-2{
    text-align: center;
    padding: 11px;
}
.modal-body .text-mod-2 .t-2 img{
    width: 14%;
}
.modal-body .form-group label{
    font-size: 17px;
    font-weight: 700;
    font-family: 'bold';
}
.modal-body .form-group .send-now{
    margin-top: 20px;
    background-color: #E6AB2F;
    color: white;
    width: 100%;
    font-family: 'regular';
}
/* model two */
h2#messageModal{
    font-family: bold;
}
button.swal2-confirm.swal2-styled {
    background-color: #E6AB2F;
    font-family: 'regular';
}
button.swal2-cancel.swal2-styled {
    border:1px solid #E6AB2F;
    color: #E6AB2F;
    background-color: white;
    font-family: 'regular';
}
.swal2-html-container {
    font-family: 'regular' !important;
    font-size: 0.8rem !important;
    color: #5E6E77 !important;
}
.icon_search-pop{
    position: absolute;
    top: 39px;

}
