* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }

/* start answer */
.answer{
    display: flex;
}
.answer .answer-1{
    margin-top: 20px;
}
.answer .form-control{
margin-top: 7px;
}
.answer .cheek{
    margin-top: 21px;
        margin-right: 15px;
}
.answer .cheek-1{
    margin-top: 19px;
}
.answer .galary{
margin-top: 20px;
    margin-right: 13px
}
.answer .form-group{
    margin-top: 17px;
}
.input-group{
    padding-top: 30px;
}
/* end answer */
/* start table */


.tbody,
td,
tfoot,
th,
thead,
tr{
    padding: 1rem 0;
}

/* end table */
/* start text */
.text{
    padding: 30px;
}
.tabl{
    background-color: white;
}
/* end text */
.table_expenses tbody tr .button{
/* margin-top: 67px; */
    width: 70px;
}
.tabl .cheek{
    margin-left: 10px;
}
.dropdown-toggle-1::after{
    display: none;

}
 .dropdown-item {
    text-align: start;
    font-size: 15px;
}
.modal-content {
    background-color: #fff !important;
}
/* model one */
.modal-body .parnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.modal-body .parnt img{
    width: 11%;
}
.modal-body .parnt h4{
    font-size: 13px;
    font-family:bold ;
}
.modal-body .parnt p{
    font-size: 9px;
    color: #5E6E77;
    font-family:"Regular" ;
}
.modal-body .parnt .botton .datels{
    border: 1px solid #06456B;
    color: #06456B;
    font-size: 10px;
    font-weight: 700;
    font-family:bold ;

}
.modal-body .parnt .botton .datels:hover{
    background-color: #06456B;
    color: white;
}
.modal-body .parnt .botton .blok{
    border:1px solid #E31E25;
    color: #E31E25;
    font-size: 10px;
    font-weight: 700;
    font-family:bold ;

}
.modal-body .parnt .botton .blok:hover{
    background-color: #E31E25;
    color: white;
}
.modal-body  .down{
    padding:10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px
}
.modal-body .down .kind h6{
    font-size: 10px;
    color: #5E6E77;
   
}
.modal-body .down .kind h4{
    font-size: 12px;
    font-family:"Regular" ;
}
.modal-body .down .kind a{
    color: #06456B;
    font-family:"bold" ;
    text-decoration: underline;
}
.modal-header h1{
    font-family:"bold" ;
}
/* model one */

   

/* model two */
.body-mod-1 h6 {
    font-size: 12px;
    width: 66%;
    color: #5E6E77;
    font-family: "Regular";
    line-height: 21px;

}
.text-mod-1{
    padding: 10px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-top: 14px

}
.text-mod-1 h5{
    font-size: 10px;
    margin-top: 5px;
    font-family: 'bold';
}

   
.text-mod-1 p{
    background-color: white;
    font-size: 8px;
    border-radius: 10px;
    padding: 5px;
    color: #06456B;
    font-family: 'regular';
}
.text-mod-1 i {
    padding-right: 10px;
}
.text-mod-1 a{
    font-size: 9px;
    text-decoration: underline;
    font-family: 'bold';
}
.modal-body .text-mod-2 .t-2{
    text-align: center;
    padding: 11px;
}
.modal-body .text-mod-2 .t-2 img{
    width: 14%;
}
.modal-body .form-group label{
    font-size: 17px;
    font-weight: 700;
    font-family: 'bold';
}
.modal-body .form-group .send-now{
    margin-top: 20px;
    background-color: #E6AB2F;
    color: white;
    width: 100%;
    font-family: 'regular';
}
/* model two */
h2#messageModal{
    font-family: bold;
}
button.swal2-confirm.swal2-styled {
    background-color: #E6AB2F;
    font-family: 'regular';
}
button.swal2-cancel.swal2-styled {
    border:1px solid #E6AB2F;
    color: #E6AB2F;
    background-color: white;
    font-family: 'regular';
}
.swal2-html-container {
    font-family: 'regular' !important;
    font-size: 0.8rem !important;
    color: #5E6E77 !important;
}
.icon_search-pop{
    position: absolute;
    top: 39px;

}
a.btn.nas{
    border:1px solid #E31E25;
   
   color: #E31E25;
   font-family: 'regular';
 
}
a.btn.nas:hover{
    background-color: #E31E25;
    color: white;
}
.final-exam h4{
    font-family: bold;
    font-size: 1.3rem;
}
.final-exam p {
    font-family: 'regular';

}
.head-exsam .push-exsam > p {
    font-family: 'regular';
    font-size: 0.8rem;
    padding: 0.3rem 0;

}
.head-exsam {
    display: flex;
}
.head-exsam .push-exsam{
    padding: 0.2rem;
    margin-right: 3rem;
    margin-top: 0.2rem;
    color: #E6AB2F;
    background-color: #e6ac2f1f;
    
    height: 2rem;
    border-radius: 12px;
}
.time{
    display: flex;
    padding: 1.5rem 0;
    justify-content: space-between;
    align-items: center;
}

.time .time-exam {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.time .time-exam h5{
    font-size: 1rem;
    margin-top: 0.5rem;
    font-family: 'bold';
}
.time .time-exam p{
    font-size: 1rem;
    font-family: 'regular';
  color: #5E6E77;
}
.time .total-exam {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time .student-exam {
    display: flex;
    justify-content: center;
    align-items: center;
}
.time .dgree-exam {
    display: flex;
    justify-content: center;
    align-items: center;
}
.time .total-exam h5{
    font-size: 1rem;
    margin-top: 0.5rem;
    font-family: 'bold';

}
.time .total-exam p{
    font-size: 1rem;
    font-family: 'regular';
  color: #5E6E77;

}
.time .student-exam h5{
    font-size: 1rem;
    margin-top: 0.5rem;
    font-family: 'bold';
}
.time .student-exam p{
    font-size: 1rem;
    font-family: 'regular';
  color: #5E6E77;

}
.time .dgree-exam h5{
    font-size: 1rem;
    margin-top: 0.5rem;
    font-family: 'bold';
}
.time .dgree-exam p{
    font-size: 1rem;
    font-family: 'regular';
  color: #5E6E77;
}
.time a{
    text-decoration: underline;
}
i.bi.bi-search.nas{
    position: absolute;
    right: 1rem;
    top: 0.6rem;
}
.table .qu-ex h3{
    padding: 1.3rem 0;
    font-family: bold;
    font-size: 1.3rem;
}
/* button */
button.btn.first.nas-1 {
    border: 1px solid #E6AB2F;
    color: #E6AB2F;
    width: 40%;
}
button.btn.first.nas-2 {
    border:1px solid #E6AB2F;
    color: #E6AB2F;
    width: 40%;
}
button.btn.first.nas-1:hover {
background-color: #E6AB2F;
color: white;
}
button.btn.first.nas-2:hover {
    background-color: #E6AB2F;
    color: white;
    }
    /* button */
   
    .table>:not(caption)>*>*{
        border-bottom: 0 solid;
    }
    tbody, td, tfoot, th, thead, tr{
        border-bottom: 0 solid;
    }
    tbody, td, tfoot, th, thead, tr{
        border-bottom: 0 solid;
    }
    .modal-body .button-mod {
        display: flex;
        justify-content: space-around;
    }
    /* button */
    a.btn.first.nas{
        background-color: white;
        border: 1px solid #E6AB2F;
        color: #E6AB2F;

    }
    a.btn.first.nas:hover{
        background-color: #E6AB2F;
        color: white;

    }
    /* button */
    .main_topic h4{
        font-family: bold;
    }
    .text h3{
        font-family: 'bold';
    }
    .text p{
        font-family: 'regular';
    }
    /* button */
    a.btn.first.save {
        margin-top: 4rem;
        background-color: white;
        border: 1px solid #E6AB2F;
        color: #E6AB2F;

    }
    a.btn.first.save:hover{
        background-color: #E6AB2F;
        color: white;
    }
    /* button */
    .table_topic tbody tr td img.name-teacher{
        width: 30px;
        height: 30px;
        margin-left: 1rem
    }
    i.bi.bi-pencil.nas{
        margin-bottom: 1rem;
    }
    span.nas{
        padding-left: 1rem;
        background-color: #F7F7F7;
        padding: 0.5rem;
        border-radius: 2rem;
    }
    
    /* search icon */
    i.bi.bi-search.nas-1{
        position: absolute;
        right: -7px;
    }
     /* search icon */
     .button .eye{
        font-size: 18px;
    padding-left: 15px;
     }
   
     span.name{
        padding: 0.5rem;
        margin-right: 1.2rem;
        background-color: #F7F7F7;
        border-radius: 100px;
     }
     span.number{
        margin-right: 0.8rem;
     }
     /* start details centers */
     .card.nas {
        width: 16rem;
        border-radius: 11px;
        border: 0 solid white;
     }
     .ditals {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
     .ditals h3{
        font-family: 'bold';
        font-size: 1.2rem;
     }
     .button-centers {
        margin-left: 10px;

     }
     button.btn.btn-edit{
        border: 1px solid #E6AB2F;
        color: #E6AB2F;
        font-family: 'regular';
       
     }
     button.btn.btn-bolk{
        border: 1px solid #ff0000;
        color: #ff0000;
        font-family: 'regular';
     }
     button.btn.btn-edit:hover{
       background-color: #E6AB2F;
       color: #F7F7F7;
     }
     button.btn.btn-bolk:hover{
        background-color:#ff0000;
        color: #F7F7F7;
     }
     span.edit-icon {
        margin-left: 0.5rem
     }
     p.card-text {
        font-size: 0.8rem;
       color: #5E6E77;
       font-family: 'regular';
       

     }
     h5.card-title{
        font-family: 'regular';
     }
     .card-tele {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
     .card-tele a {
        font-size: 0.6rem;
        font-family: 'regular';
     }
     span.tele-icon {
        font-size: 0.7rem;
        margin-left: 0.3rem;
        
     }
     span.email-icon {
        font-size: 0.7rem;
        margin-left: 0.3rem;
     }
     img.card-img-top.nas{
        width: 70px;
     }
     .parnt {
        border-radius: 11px;
        padding: 0.4rem;
        width: 16rem;
        margin-top: 15px;
       background-color: white;
        
        display: flex;
        justify-content: space-around;
       
     }
     .parnt .text-card h6 {
        font-family: 'regular';


     }
.parnt .text-card p{
    font-family: 'bold';
        font-size: 0.7rem;
     }
     span.arwo-icon {
        font-size: 1.2rem;
        color: #E6AB2F;
        right: 50px;
        margin-right: 112px;
    }

     .text-card-main {
        margin-left: 40px;
     }
     .text-card-main h6{
        font-family: 'regular';
     }
     .text-card-main p{
        font-family: 'bold';
     }
     .corses {
        display: flex;
    justify-content: space-between;
    align-items: center;
    
     }
     .corses h5 {
        font-family: 'bold';
        font-size: 1.1rem;
    }
     
     button.btn.btn-add {
        border: 1px solid #06456B;
        color: #06456B;
        font-family: 'regular';
     }
     button.btn.btn-add:hover {
       background-color:#06456B ;
        color: white;
     }
     i.bi.bi-search.nas-centers {
        position: absolute;
     }
     .text-card-team h6 {
        font-size: 0.8rem;
        font-family: 'regular';

     }
     h5.card-title.nas {
        font-size: 0.8rem;
        font-family: 'regular';
        padding: 1rem 0;
     }
     .text-card-team h4 {
        font-size: 1rem;
        padding: 1rem 0;
        font-family: 'regular';
     }
     h6.push-text {
        padding: 0.6rem 1.3rem;
    font-size: 0.8rem;
    background-color: #e6ac2f21;
    width: fit-content;
    border-radius: 19px;
    color: #E6AB2F;
    font-family: 'regular';
      
     }
     .card.nas-1{
        border-radius: 1rem;
     }
     h6.free-text{
        padding: 0.6rem 1.3rem;
        font-size: 0.8rem;
        background-color: #06446b25;
        width: fit-content;
        border-radius: 19px;
        color: 06456B;
        font-family: 'regular';
     }
     .card.nas-2 {
       margin-top: 1rem;
       border-radius: 1rem;
     }
     /* end details centers */
     /* start lesons */
     i.bi.bi-search {
        position: absolute;
     }
     /* end lesons */
     /* tables */
     p.table-text{
        width: 56%;
        TEXT-ALIGN: START;
        MARGIN: 0 AUTO;
     }
     p.tabl-text-1 {
        margin: auto 0;
    width: 267%;
     }
     p.table-text-2 {
        margin: auto 39px;
   
    width: 45%;
}
p.table-text-3 {
    width: 227%;
}
p.table-doors {
    width: 66%;
    margin: auto;
    text-align: start;
}
p.table-doors-1 {
    margin: auto 53px;
    width: 66%;
}
p.table-doors-2 {
    width: 113%;
}
p.table-doors-3 {
    width: 100%;
    margin-left: 12rem;
}
p.table-doors-4 {
    margin-left: 3rem;
}
 /* tables */
 